<div class="grid grid-cols-2 my-5 gap-8 px-16" id="about">
    <div class="text-justify mt-24">
        <div class="justify-center items-center inline-flex cursor-pointer">
            <p class="text-4xl font-bold">Про нас</p>
        </div>
        <p class="inline-block pt-10">
            Ми - клуб настільних ігор M.A.R.S. у м. Запоріжжя. Наша мета - створити комфортне місце для гравців
            настільних ігор, де можна відпочити, зіграти у свою улюблену гру, або спробувати щось нове.
        </p>
        <p class="inline-block pt-10 font-bold border-red-800 border-b-4">Графік роботи: ПН-НД, з 10:00 до 19:00</p>
        <p class="inline-block pt-10">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc tincidunt
            consectetur. Nullam nec purus nec nunc tincidunt consectetur. Nullam nec purus nec nunc tincidunt
            consectetur. Nullam nec purus nec nunc tincidunt consectetur. Nullam nec purus nec nunc tincidunt.
        </p>
    </div>
    <div class="mt-24">
        <div class="fotorama h-1/2">
            <img src="/static/media/gallery/1.jpeg">
            <img src="/static/media/gallery/2.jpeg">
            <img src="/static/media/gallery/3.jpeg">
            <img src="/static/media/gallery/4.jpeg">
            <img src="/static/media/gallery/5.jpeg">
            <img src="/static/media/gallery/6.jpeg">
        </div>
    </div>
</div>
