<div class="lg:grid lg:grid-cols-2 lg:gap-8 lg:px-16 my-5 min-h-screen" id="events">
    <div class="text-justify lg:mt-24 px-5">
        <div class="justify-center items-center inline-flex cursor-pointer">
            <p class="text-4xl font-bold">Турніри та події</p>
        </div>
        <p class="inline-block pt-10">
            У нас завжди є щось цікаве. Дізнайся про наші турніри та події. Приходь, грай, перемагай!
        </p>
        <ol class="list-inside pt-10">
            <li>Турнір з Warhammer 40k</li>
            <li>Турнір з D&D</li>
            <li>Турнір з Magic: The Gathering</li>
            <li>Турнір з Yu-Gi-Oh!</li>
            <li>Турнір з Hearthstone</li>
        </ol>
        <p class="inline-block pt-10">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc tincidunt
            consectetur. Nullam nec purus nec nunc tincidunt consectetur. Nullam nec purus nec nunc tincidunt
            consectetur. Nullam nec purus nec nunc tincidunt consectetur. Nullam nec purus nec nunc tincidunt.
        </p>
    </div>
    <div class="lg:mt-24 lg:mx-0 mt-5 mx-5">
        <div class="fotorama h-1/2">
            <img src="/static/media/gallery/1.jpeg">
            <img src="/static/media/gallery/2.jpeg">
            <img src="/static/media/gallery/3.jpeg">
            <img src="/static/media/gallery/4.jpeg">
            <img src="/static/media/gallery/5.jpeg">
            <img src="/static/media/gallery/6.jpeg">
        </div>
    </div>
</div>
