<div class="lg:grid lg:grid-cols-2 lg:gap-8 my-5 lg:px-16 px-5 min-h-screen" id="games">
    <div class="lg:mt-24 lg:block hidden">
        <div class="fotorama h-1/2">
            <img src="/static/media/gallery/1.jpeg">
            <img src="/static/media/gallery/2.jpeg">
            <img src="/static/media/gallery/3.jpeg">
            <img src="/static/media/gallery/4.jpeg">
            <img src="/static/media/gallery/5.jpeg">
            <img src="/static/media/gallery/6.jpeg">
        </div>
    </div>
    <div class="text-justify lg:mt-24">
        <div class="justify-center items-center inline-flex cursor-pointer">
            <p class="text-4xl font-bold">Наші настільні ігри</p>
        </div>
        <p class="inline-block pt-10">
            Дізнайся у що можна пограти в нашому клубі. Вибирайте серед широкого асортименту настільних ігор.
        </p>
        <ol class="list-inside pt-10">
            <li>Warhammer 40k</li>
            <li>D&D</li>
            <li>Magic: The Gathering</li>
            <li>Yu-Gi-Oh!</li>
            <li>Hearthstone</li>
        </ol>
        <p class="inline-block pt-10">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc tincidunt
            consectetur. Nullam nec purus nec nunc tincidunt consectetur. Nullam nec purus nec nunc tincidunt
            consectetur. Nullam nec purus nec nunc tincidunt consectetur. Nullam nec purus nec nunc tincidunt.
        </p>
    </div>
    <div class="lg:hidden lg:mt-24 lg:mx-0 mt-5">
        <div class="fotorama">
            <img src="/static/media/gallery/1.jpeg">
            <img src="/static/media/gallery/2.jpeg">
            <img src="/static/media/gallery/3.jpeg">
            <img src="/static/media/gallery/4.jpeg">
            <img src="/static/media/gallery/5.jpeg">
            <img src="/static/media/gallery/6.jpeg">
        </div>
    </div>
</div>
