<div class="bg-gradient-to-[80deg] from-orange-700 to-transparent to-85%">
    <div class="grid grid-cols-3 gap-4 place-items-center">
        <div>
            <img src="/static/media/logo_white.png" alt="M.A.R.S" class="h-1/2">
        </div>
        <div class="col-span-2">
            <div>
                <h1 class="text-4xl text-white font-bold my-5">Вітаємо у клубі M.A.R.S!</h1>
                <p class="text-xl text-white font-bold">Приєднуйся до клубу Warhammer, D&D та інших настільних ігор!</p>
            </div>
        </div>
    </div>
</div>
