{% extends '_base.html' %}

{% block title %}Бронь столу | Клуб M.A.R.S Запоріжжя{% endblock %}

{% block content %}
<main class="container mx-auto min-w-screen min-h-screen bg-black">
    <div class="lg:grid lg:grid-cols-2 lg:gap-4">
        <div class="lg:mt-24 mx-5">
            <div class="">
                <p class="text-4xl font-bold">Вибери зручний час та приходь!</p>
            </div>
            <br/>
            <p>Розташування столів:</p>
            <img src="/static/media/schema.png" alt="tables" class="lg:w-1/2"/>
            <p class="inline-block pt-10 text-justify">
                Після бронювання, ти отримаєш підтвердження на пошту. Перевір спам! Якщо листа немає, напиши
                нам.
            </p>
            <br/>
            <p class="inline-block pt-10 font-bold border-red-800 border-b-4">Графік роботи: ПН-НД, з 10:00 до 19:00</p>
        </div>
        <div class="mt-24">
            <form action="/booking" method="post">
                <div class="flex justify-around">
                    <a href="/booking?year={{navigation_dates.prev.year}}&month={{navigation_dates.prev.month}}"
                       class="text-white"> <i class="fa-solid fa-angles-left"></i> </a>
                    <p class="block text-center font-bold text-2xl">{{month_name}}, {{selected_date.year}}</p>
                    <a href="/booking?year={{navigation_dates.next.year}}&month={{navigation_dates.next.month}}"
                       class="text-white"> <i class="fa-solid fa-angles-right"></i> </a>
                </div>
                <div class="items-center mt-5">
                    {% for week in dates_range %}
                    <div class="grid grid-cols-7 gap-0">
                        {% for day in week %}
                        {% if day == 0 %}
                        <div class="rounded font-bold lg:px-3 py-2 m-1 bg-gray-800 opacity-60"></div>
                        {% else %}
                        <button class="rounded font-bold lg:px-3 py-2 m-1 bg-red-800 active:bg-indigo-600">{{day}}</button>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <input type="hidden" name="day" value="{{selected_day}}">
                    <input type="hidden" name="month" value="{{selected_date.month}}">
                    <input type="hidden" name="year" value="{{selected_date.year}}">
                </div>

                <div class="lg:flex lg:p-0 p-5">
                    <div class="flex flex-col w-full lg:pr-5">
                        <label for="name" class="text-white">Ім'я</label>
                        <input type="text" name="name" id="name" class="p-2 rounded bg-gray-800 text-white" required>
                    </div>
                    <div class="flex flex-col w-full lg:pl-5">
                        <label for="email" class="text-white">Email</label>
                        <input type="email" name="email" id="email" class="p-2 rounded bg-gray-800 text-white" required>
                    </div>
                </div>

                <div class="px-5 lg:p-0 lg:pt-5">
                    <select class="w-full p-2 rounded bg-gray-800 text-white">
                        <option value="1">Стіл 1</option>
                        <option value="2">Стіл 2</option>
                        <option value="3">Стіл 3</option>
                        <option value="4">Стіл 4</option>
                        <option value="5">Стіл 5</option>
                        <option value="5">Віп (окрема кімната)</option>
                    </select>
                </div>

                <div class="lg:flex lg:p-0 lg:py-5 px-5">
                    <div class="flex flex-col w-full pr-5 pt-2">
                        <label for="time" class="text-white">Час</label>
                        <input type="time" name="time" id="time" value="10:00"
                               class="p-2 rounded bg-gray-800 text-white" required>
                    </div>
                    <div class="flex flex-col w-full lg:pl-5 pt-2">
                        <label for="people" class="text-white">Кількість людей</label>
                        <input type="number" name="people" id="people" class="p-2 rounded bg-gray-800 text-white"
                               required>
                    </div>
                </div>

                <div class="flex flex-col lg:p-0 p-5">
                    <button type="submit" class="p-2 bg-red-800 text-white rounded">Забронювати</button>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}
